/* leny/kach
 *
 * /static/sass/styles.scss - Main stylesheet
 *
 * coded by quentin
 * started at 09/12/2016
 */

@import "bourbon";

body {

}

figure {
    img {
        width: 250px;
    }
}

.box {
    padding: 20px;
    background: pink;
}
