doctype html
html( lang="fr" )
    head
        title Kach

        link( rel="stylesheet", href="/css/styles.css" )

    body
        h1 Kach

        div#app.
            {{ message }}

        figure
            img( src="/assets/chat.jpg", alt="Un splendide Chat" )

        script( src="/js/app.js" )
